{% extends 'flatpages/default.html' %}
{% load i18n %}

{% block content %}
<h1>{{title}}</h1>
<hr>

{% if is_not_authors %}
    <button> <a href="upgrade/"> Стать автором </a> </button>
{% endif %}
<hr>

<form action="" method="post">
    {% csrf_token %}
    {% for f in form %}
        <p><label for="{{ f.id_for_label }}">{{ f.label }}</label>  {{ f }}</p>
        <div>{{ f.errors }}</div>
    {% endfor %}
    <input type="submit" value="{% trans "Сохранить" %}" />
</form>

{% endblock content %}